<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="exercise.model.Mapper">
  <!-- <select id="selectAll" resultType="exercise.entity.BoardVO">
    select * from board order by idx desc
  </select>
  
  <insert id="boardInsert" parameterType="exercise.entity.BoardVO">
    insert into board(idx,memId,title,content,writer)
    values(board_idx.nextval,#{memId},#{title},#{content},#{writer})
  </insert>
  
  <select id = "getByIdx" parameterType="int" resultType = "kr.exercise.entity.BoardVO">
  	select * from board where idx = #{idx}
  </select>
  
  <delete id="boardDelete" parameterType="int">
  	delete from board where idx = #{idx}
  </delete>
  
  <update id="boardUpdate" parameterType="exercise.entity.BoardVO">
  	update board set title=#{title}, content=#{content} where idx=#{idx}
  </update>
  
  <update id="addCount" parameterType="int">
  	update board set count=count+1 where idx=#{idx}
  </update>
  
  <select id="checkLogin"  parameterType="exercise.entity.MemberVO"
                           resultType="exercise.entity.MemberVO">
     select * from member 
     where memId=#{memId} and memPwd=#{memPwd} 
  </select> -->
  
  <insert id="memberInsert" parameterType="exercise.entity.MemberVO">
    insert into tbl_member(memId,memPwd,memNick)
    values(#{memId},#{memPwd},#{memNick})
  </insert>
  
 <select id="checkLogin"  parameterType="exercise.entity.MemberVO"
                           resultType="exercise.entity.MemberVO">
     select * from tbl_member where memPwd=#{memPwd} and memId=#{memId} 
 </select>
 
 <!-- ID중복확인 -->
	<select id="checkId" parameterType="exercise.entity.MemberVO"
                           resultType="exercise.entity.MemberVO">
		select * from tbl_member
		where memId=#{memId} 
	</select>

  
   <insert id="communityInsert" parameterType="exercise.entity.CommunityVO">
    insert into tbl_community(article_seq,articleTitle,articleContent,memId,articleWriter)
    values(article_seq.nextval,#{articleTitle},#{articleContent},#{memId},#{articleWriter})
  </insert>
  
  <select id="selectAll" resultType="exercise.entity.CommunityVO">
    select * from tbl_community order by article_seq desc
  </select>
  
  <select id = "getBySeq" parameterType="int" resultType = "exercise.entity.CommunityVO">
  	select * from tbl_community where article_seq = #{article_seq}
  </select>
  
   <update id="addCount" parameterType="int">
     update tbl_community 
     set count=count+1
     where article_seq=#{article_seq}
  </update>

  <update id="communityUpdate" parameterType="exercise.entity.CommunityVO">
  	update tbl_community set articleTitle=#{articleTitle}, articleContent=#{articleContent} where article_seq=#{article_seq}
  </update>
  
   <delete id="communityDelete" parameterType="int">
  	delete from tbl_community where article_seq = #{article_seq}
  </delete>
  
   <select id = "getById" resultType = "exercise.entity.ChallengeVO">
  	select * from tbl_result where memId = #{memId}
  </select>

</mapper>

