@charset "EUC-KR";
@import url('https://fonts.googlepis.com/css?family=Nanum+Myeongjo:800&subset=korean');
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'IBMPlexSansKR-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}
a{
    text-decoration: none;
}


body {
    margin: 0;
    height: 100%;
    width:100%;
    background: #f5f6f7;
    font-family: 'IBMPlexSansKR-Regular';
}
#logo {
    width: 360px;
    height:183px;
    margin-top: auto;
    margin-left: 30px;
}

#header {
    padding-top: 62px;
    padding-bottom: 10px;
    text-align: center;
}
#wrapper {
    position: relative;
    height: 100%;
}


#content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 460px;
    text-align: center;
}

.request_title{
    font-size:20px;
}
.request_title option{
	font-size:30px;
}


#gender{
    font-size:18px;
    border-style:hidden;
    width: 105px;
    margin-left:-8px;
    margin-top:-100px;
    text-align: center;
    font-family: 'IBMPlexSansKR-Regular';
}


.athletic_part{
    font-size: 18px;
}

.athletic_level{
    margin-top:10px;
    font-size: 18px;
}

/*자치구 상자*/
.box1 span{
    width:120px;
    margin-left:100px;
    padding:0 0 -10px 0;
}
.box2 span{
    width:120px;
    margin-top:-40px;
    margin-left:220px;
    padding:0 0 -10px 0;
}

/*자치구 옵션*/
#addr{
    width: 110px;
    height:25px;
    font-size:17px;
    border-style:hidden;
    text-align: center;
    margin-left:-11px;
}

#good{
    width: 110px;
    height:25px;
    font-size:17px;
    border-style:hidden;
    text-align: center;
    margin-left:-11px;
}

/* 입력폼 */

input:focus {
    outline: none;
    
}


h3 {
    margin: 19px 0 8px;
    font-size: 20px;
    font-weight: 700;   
}


.box {
    display: block;
    width: 120px;
    height: 40px;
    border: solid 1px #dadada;
    padding: 8px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 9.8px;
    margin-left: 170px;
    margin-bottom: -15px;
}


/* input안에 입력글자 */
.int {
    display: block;
    width: 100%;  
    height: 18px;
    border: none;
    background: #fff;
    font-size: 15px;
    text-align: center;
    
}

/*input안에글자*/
input {
    font-family: 'IBMPlexSansKR-regular';    
    
}

.box.int_height {
    padding-right: 40px;
}
.info{
    font-size:19px;
}

/* 버튼 */
.btn_area {
    margin: 10px 0 91px;
}

#btnJoin{
    width: 350px;
    padding: 18px 0 17px;
    border: 0;
    cursor: pointer;
    color: white;
    background-color: #227364;  
    font-size: 25px;
    font-weight: 400;
    border-radius: 8px;
    font-family: 'IBMPlexSansKR-Bold';
    border-color: #dadada;
}
#btnJoin a{
    color: #fff;
}
#btnJoin:hover{
    opacity: 0.5;
  transition: 0.5s;
}



